<meta
  name="google-site-verification"
  content="wP9Vw7h3RqlhPj_RlxWQgc8aw47N3YYJh-uo-15QiE4"
/>
<meta name="topic" content="golang high-performance decimal" />
<meta name="url" content="https://github.com/quagmt/udecimal" />
<meta name="owner" content="https://github.com/quagmt" />
<meta
  name="summary"
  content="High performance, high precision, zero allocation fixed-point decimal library for financial applications"
/>

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-YBJ44BF01E"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-YBJ44BF01E");
</script>
